.main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 24px);
  justify-content: center;
  padding: 12px;
}

.link {
  text-decoration: none;
  background: black;
  padding: 2px 5px;
  color: white;
  border-radius: 5px;
  align-self: flex-start;
}

.title {
  text-align: center;
  font-family: Verdana, sans-serif;
}

.container {
  display: flex;
}

.description {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}
